.planet-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .miner-info {
    color: #fff;
    white-space: nowrap;
    font-size: 22rpx;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    transform: translate(0, 100%);
    &.finished {
      color: #00cf67;
    }
  }
  .planet1 {
    width: 112rpx;
  }
  .planet2 {
    width: 180rpx;
  }
  .planet3 {
    width: 172rpx;
  }
  .planet-img {
    width: 100%;
  }
}
