.planet-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .miner-info {
    color: #fff;
    white-space: nowrap;
    font-size: 22px;
    font-weight: 700;
    &.finished {
      color: #00cf67;
    }
  }
  .planet1 {
    width: 112px;
  }
  .planet2 {
    width: 180px;
  }
  .planet3 {
    width: 172px;
  }
  .planet-img {
    width: 100%;
  }
}
