@import "../../static/css/variable";
.miner-item {
  background-color: $primary-bg-color;
  min-height: 100vh;
  padding: 0 20px 20px;
  box-sizing: border-box;
  color: white;
  .minerTitleContainer {
    background-color: $primary-bg-color;
    z-index: 10;
    padding-bottom: 30px;
  }
}
