@import "../../static/css/variable";
.miner-item {
  display: flex;
  justify-content: space-between;
  margin: 24rpx 0;
  padding: 20rpx 34rpx;
  border-radius: 10rpx;
  background-color: $card-bg-color;
  color: white;
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
  }
  .right {
    display: flex;
    align-items: center;
  }
  .status-botton {
    padding: 3rpx 6rpx;
    border-radius: 2rpx;
    background-color: #504b5a;
    flex: 0 0 auto;
    width: fit-content;
  }
}
