@import "../../static/css/variable";
.minerItem {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
  padding: 20px 34px;
  border-radius: 10px;
  background-color: $card-bg-color;
  color: white;
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
  }
  .right {
    display: flex;
    align-items: center;
  }
  .statusBotton {
    padding: 3px 6px;
    border-radius: 2px;
    background-color: #504b5a;
    flex: 0 0 auto;
    width: fit-content;
  }
}
