@import "../../static/css/variable";
.miner-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  padding-bottom: 20rpx;
  padding-top: 30rpx;
  background-image: linear-gradient(
    to bottom,
    rgba(#0d0216, 1),
    rgba(#0d0216, 1),
    rgba(#0d0216, 1),
    rgba(#0d0216, 0)
  );
  .miner-title {
    padding: 12rpx;
    border-radius: 8rpx;
    background-color: $card-bg-color;
    color: white;
    z-index: 10;
  }
}
